@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital@0;1&family=Spectral+SC:ital,wght@0,400;0,600;1,600&family=Spectral:wght@200;400&display=swap');

/* navigations & header */

.my-custom-nav {
  background-color: #F4F9F9;
  border-bottom : 3px solid #d5dada;
  width: 100%;
}

.nav-item {
  font-family: 'Pt Serif', serif;
}

.header-title {
  font-family: 'Cormorant', serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.header-subtitle, .magis-vision {
  font-family: 'Spectral', serif;
  font-size: 20;
  letter-spacing: 2px;
}

.dropdown-menu {
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    width: 55%;
  }
}

/* teaser video */

.teaser-video-container {
  width: 100%;
}

.teaser-video-1 {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .teaser-video-1 {
    width: 100%;
  }
}

/* card design */

.my-custom-card {
  border: 1px solid #d5dada;
  width: 20%;
}

.card-group {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .my-custom-card {
    width: 75%;
  }

  .card-title {
    font-size: 22px;
  }

  .card-text {
    font-size: 15px;
  }
  } 


  .card-title, .subheader-title {
    font-family: 'Cormorant', serif;
  }


  .card-text {
    font-family: 'Libre Baskerville', serif;
  }

/* Candidate Information */

  .candidate-information {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .candidate-tagline, .magis-tagline, .platform-title {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-style: italic;
  }

  .my-custom-box {
    height: 100%;
  }

  .leadership-background li {
    padding-bottom: 0.5rem;
  }

  .student-info {
    font-family: 'Spectral SC', serif;
    background-color: #FAF7F0;
    height: 80%;
  }

  .responsive-img {
    width: 35%;
  }

  @media screen and (max-width: 800px) {
    .candidate-information {
      display: block;
      width: 100%; 

      text-align: center;  
    }

    .leadership-background li {
      padding-bottom: 1rem;
    }
  }

/* platforms */

  .magis-platforms {
    width: 100%;
  }

  .subheader-title {
    padding: 0;
    margin: 0;
  }

  .platform-activity {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
  }


  /* Footer */

  .my-custom-footer {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 25px 0 25px 0;

    background-color: #B7C4CF;
  }

  .footer-title {
    letter-spacing: 2.5px;
  }

/* other */

  .line-1, .line-2{
    width: 5%;
  }

  hr {
    margin: 0.5rem;
  }

  .my-custom-border-bottom {
    width: 30%;
    border-bottom: 1px solid #d5dada;
    border-top: 1px solid #d5dada;
    margin: auto;
    padding-top: 2px;
  }

  .position-title, .representative-title, .footer-title, .credits, .magis-platforms-header-title, .platform-activity {
    font-family: 'Spectral', serif;
  }
